@using System.Threading.Tasks
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
}

<div title="@Localizer["language"]" class="float-right mt-2">
    <form id="selectLanguage" 
          asp-controller="Culture" 
          asp-action="SetLanguage"
          asp-action="SetLanguage" 
          asp-route-returnUrl="@(Context.Request.PathBase.HasValue ? Context.Request.PathBase : Context.Request.Path)"
          method="post" 
          class="form-horizontal" 
          role="form">

           <div class="form-row align-items-center">

    <div class="col-auto">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text" style="height: 30px;"><i class="fa fa-language" aria-hidden="true"></i></div>
        </div>
         <select class="form-control" name="culture" style="height: 30px; font-size: 12px;"
                                        asp-for="@requestCulture.RequestCulture.UICulture.Name" asp-items="cultureItems"></select>
    
      </div>
    </div>

        
    
    </form>
</div>