﻿
@model ErrorViewModel
@{
    ViewData["Title"] = @Localizer["Error"];
}

<h1 class="text-danger">@Localizer["Error"]</h1>
<h2 class="text-danger">@Localizer["ErrorMessage"]</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>@Localizer["RequestID"]:</strong> <code>@Model.RequestId</code>
    </p>
}

<p>
    <strong>@Localizer["TryLater"]</strong>,&nbsp;@Localizer["ContactMessage"]
</p>
