﻿@model Encryptor.Models.EncryptionSubject

@{
    ViewData["Title"] = @Localizer["IndexTitle"];
}

@section Messages {
    @if (ViewBag.isMessageTooLong != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>@Localizer["MessageTooLong"]</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}

<div class="row">
    <div class="col">
        <form asp-action="Index">
            <div class="form-group px-3">
                <label class="form-label" for="TextToEncrypt">@Localizer["TextAreaLabel"]</label>
                <textarea 
                    name="PlainText"
                    class="form-control" 
                    rows="10" 
                    id="TextToEncrypt" 
                    value="" 
                    placeholder="@Localizer["TextAreaPlaceHolder"]">@Model.PlainText</textarea>
                    <div style="min-height: 25px;">
                       <span asp-validation-for="PlainText" class="text-danger"></span>
                    </div>
            </div>

            <div class="px-3 text-center">
                <button class="btn btn-success btn-sm" type="submit"><i class="fa fa-check"></i> @Localizer["SubmitButton"]</button>
                <button type="button" onclick="location.href='@Url.Action("Index", "Home")'" class="btn btn-danger btn-sm"><i class="fa fa-times"></i> @Localizer["Reset"]</button>
            </div>

            <div class="form-group px-3 pt-5 pb-3">
                <label class="form-label" for="EncryptedText">@Localizer["TextAreaEncryptedLabel"]</label>
                <div class="card">
                    <div id="encryptedSecret" class="card-body resultPanel" data-placeholder="@Localizer["TextAreaEncryptedPlaceHolder"]">@Model.EncryptedText</div>
                </div>
            </div>

            <div class="px-3 text-center">
                <button 
                    id="copyButton"
                    class="btn btn-success btn-sm"
                    type="button"
                    onclick="copyToClipboard('@Model.EncryptedText');" 
                    @if(@Model.EncryptedText == null) { 
                        @: disabled
                    }>
                    <i class="fa fa-files-o"></i> @Localizer["Copy"]
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    <script type="text/javascript">
        $( document ).ready(function() {
            $("#copyButton").trigger("click");
        });
    </script>
}
