﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.main-box {
    border: 1px solid #d7d3d0;
    border-top: 7px solid #28a645;
    border-bottom: 7px solid #c6c2bd;
    background-color: #f8f7f6;
    border-radius: 10px 10px;
    color: #3d3d3d;
    padding: 1px 20px 20px 20px;
    margin-top: 10px;
    box-shadow: 0px 1px 7px #b6b0aa;
}

.text-danger {
    font-size: small;
}

.alert {
    margin-bottom: 0px;
}

.form-label {
    font-weight: bold;
}

.footer-div {
    text-align: center;
    font-size: small;
    line-height: 30px; 
    padding: 30px;
}
.resultPanel {
    color: #606975;
}

.resultPanel:empty:not(:focus):before {
    content: attr(data-placeholder)
  }